In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('./housing.data.txt', header=None, names=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MIDV'], sep = '\s+')

df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MIDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [14]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2)

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [22]:
train_df.to_csv('./train.csv', index=False, float_format='%.1f')
test_df.to_csv('./test.csv', index=False, float_format='%.1f')

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MIDV
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,3.054890,9.705882,10.873725,0.068627,0.555811,6.351716,68.084314,3.765130,9.352941,404.715686,18.415686,346.048529,12.188627,22.170588
std,6.783488,19.583706,6.422616,0.254068,0.108986,0.643330,25.891926,1.873226,8.707169,164.997832,2.274949,111.151451,6.036979,8.859929
min,0.013600,0.000000,1.520000,0.000000,0.392000,4.652000,15.800000,1.169100,1.000000,188.000000,12.600000,0.320000,1.920000,8.300000
25%,0.082492,0.000000,5.400000,0.000000,0.450000,5.935250,45.450000,2.317750,4.000000,279.000000,16.825000,376.972500,7.725000,16.650000
50%,0.257625,0.000000,9.125000,0.000000,0.538000,6.209000,77.350000,3.153900,5.000000,329.500000,19.100000,392.360000,11.295000,20.800000
75%,3.067635,12.500000,18.100000,0.000000,0.643000,6.592500,91.300000,5.162450,20.000000,616.750000,20.200000,396.780000,15.025000,24.050000
max,41.529200,82.500000,25.650000,1.000000,0.871000,8.780000,100.000000,9.220300,24.000000,666.000000,21.200000,396.900000,29.290000,50.000000